<div class="row flex-row flex-nowrap overflow-auto prodContainer">
  <ng-container *ngFor="let ele of productList">
    <div class="col-lg-2 col-sm-4 col-4 cart">
      <img [src]="ele.image[0]" alt="" style="width: 90%;">

      <p>{{ ele.name }}</p>
      <p>{{ ele.brand }}</p>
      <b>
        <h5>EGY {{ ele.price }}</h5>
      </b>
      <i class="fa fa-heart" aria-hidden="true" style="float: left;"></i>
      <i class="fa fa-cart-plus" aria-hidden="true" style="float: right;"></i><br><br>
      <app-product-rate></app-product-rate>
    </div>
  </ng-container>
</div>