<div class="cartItems py-5">

  <div class="cart-item">
    <div class="row">
    <div class="col-2">
      <img class="w-100 d-block" src={{productList[7].image[0]}}/>
    </div>
    <div class="col-10">
      <div class="row justify-content-between">
        <div class="col-md-9">
          <p class="mb-2 text-muted text-uppercase small">
            {{ productList[0].subcategory }}
          </p>
          <h5>
            {{ productList[0].name }}
          </h5>
          <span>
            {{ productList[0].description }}
          </span>
        </div>
        <div class="col-3 d-none d-md-block">
          <div class="d-flex flex-column align-items-start">
          <div class="">EGY <span class="h3 text-bold">{{productList[0].price }}</span></div>
          <span class="mt-5">
            <app-quantity-dropdown [numberValue] = " productList[0].countInStock" ></app-quantity-dropdown>
          </span>
        </div>
        </div>
      </div>
    </div>
    </div>
  </div>

</div>
