.prodContainer {
  padding: 1%;
  justify-content: center;

}
.product-slider{display:none;}
.product-slider.slick-initialized{display:block;}

// .fa{
//   font-size: xx-large;
// }
// .cart {
//   padding: 1%;
//   text-align: center;
//   box-shadow:0 8px 8px 0 lightgray;
// }

// [class*="col-"] {
//   background-clip: padding-box;
//   border: 1% solid transparent;
// }
