<!-- <div class="container" style="padding: 5%;">
  <button class="btn-lg btn-primary btn-block" data-toggle="modal" data-target="#signUpModal">
    Sign In Now</button>
</div>
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"> -->
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-body">
      <div class="row">
        <div class="col-1 offset-11">
          <button class="btn" data-dismiss="modal">
            <h3>X</h3>
          </button>
        </div>
      </div>
      <!-- <div class="row" style="display: flex; justify-items: right;">
          <button type="button" class="btn" data-dismiss="modal">
            <h3>X</h3>
          </button>
        </div> -->
      <div class="row" style="justify-content: center; text-align: center;">
        <div class="col-6">
          <h4>Welcom Back!</h4>
          <b>
            <h3>Sign In to your account</h3>
          </b>
          <p>Don't have an account? <button class="btn" data-toggle="modal" data-target="#signUpModal"
              style="color: blue;">
              Sign Up</button></p>
          <form (ngSubmit)="signIn()" [formGroup]="formGroup">
            <div class="form-group">
              <label for="email" style="float: left;">Email</label>
              <input type="email" class="form-control" id="email" formControlName="email">
            </div>
            <div class="form-group">
              <label for="password" style="float: left;">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password">
            </div>
            <a href="#">Forget Your Password?</a><br><br>
            <button type="submit" class="btn btn-block">
              <h4>SIGN IN</h4>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->

<!-- hideen sign up modal -->
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <app-sign-up></app-sign-up>
</div>