<div class="container-fluid">
    <div class="row" style="justify-content: center; padding:2% 0;background-color: white;">
        <ng-container *ngFor="let ele of tags">
            <div class="col-3" style="text-align: center;">
                <!-- <button class="btn" (click)=" showSection(ele.number)"> -->
                <p>{{ele.number}}</p>&nbsp;&nbsp;
                <p>{{ele.name}}</p>&nbsp;&nbsp;
                <!-- </button> -->
                <!-- <div class="progress">
                    <div class="progress-bar" style="display: inline-block;" role="progressbar" aria-valuemax="100">
                    </div>
                </div> -->

            </div>
        </ng-container>
        <!-- <div class="col-3">(click)="showDiscountProds()"
            <p>1</p>&nbsp;&nbsp;
            <p>Sign in</p>&nbsp;&nbsp;
            <p>_______________________</p>
        </div>
        <div class="col-3">
            <p>2</p>&nbsp;&nbsp;
            <p>Shipping address</p>&nbsp;&nbsp;
            <p>___________________</p>
        </div>
        <div class="col-3">
            <p>3</p>&nbsp;&nbsp;
            <p>payment</p>&nbsp;&nbsp;
            <p>_______________________</p>
        </div> -->
        <div class="col-2">
            <p>4</p>&nbsp;&nbsp;
            <p>order placed</p>
        </div>
    </div>
    <!-- <app-checkout-sign-in></app-checkout-sign-in> -->
    <router-outlet></router-outlet>
</div>