<div class="container-fluid  mainbady">
<div class="row">

    <div class="col-sm-3" *ngFor="let item of allproduct">
        <div class="card" >
            <img class="card-img-top img1" src="{{item.image[0]}}" alt="Card image" style="width:100%">
            <div class="card-body">
              <p style="font-size: 12px; color:gray;" class="card-title">
              {{item.brand}}<br>
              {{item.description}}
              </p>
              <h5>EGP {{item.price}}</h5> 
              <button class="btn btn-outline-info" >show details</button>
            </div>
          </div>
    </div>
    <!-- end card -->







</div>


</div>