<div class="container-fluid contain">
  <div class="row">
    <div class="col-4">
      <h5>We're Always Here To Help</h5>
      <p>Reach out to us through any of these support channels</p>
    </div>
    <div class="col-2 offset-2 foot">
      <div class="row">
        <div class="col-2"><i class="fa fa-exclamation" aria-hidden="true"></i></div>
        <div class="col-10">
          <h6>HELP CENTER</h6><b>
            <h5>help.noon.com</h5>
          </b>
        </div>
      </div>
    </div>
    <div class="col-2 foot">
      <div class="row">
        <div class="col-2"><i class="fa fa-exclamation" aria-hidden="true"></i></div>
        <div class="col-10">
          <h6>HELP CENTER</h6><b>
            <h5>help.noon.com</h5>
          </b>
        </div>
      </div>
    </div>
    <div class="col-2 foot">
      <div class="row">
        <div class="col-2"><i class="fa fa-exclamation" aria-hidden="true"></i></div>
        <div class="col-10">
          <h6>HELP CENTER</h6><b>
            <h5>help.noon.com</h5>
          </b>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">

</div>

<div class="container-fluid" style="opacity: 0.5; padding: 1% 5%;">
  <div class="row">
    <p>© 2021 noon. All Rights Reserved</p>
  </div>
</div>
