.checkoutHeader{
    background-color: yellow;
    color: black;
    padding: 1% 0%;
    opacity: 0.7;
    padding-left: 2%;
}

.checkoutHeader p{
    display: inline-block;
}

.checkoutHeader img{
    width: 70%;
}