<div class="container-fluid checkoutHeader">
    <div class="row" style="padding: 1%;">
        <div class="col-5">
            <button aria-label="Cart" routerLink='../product_cart' class="btn"><i class="fa fa-arrow-left"
                    aria-hidden="true"></i>
                Cart</button>&nbsp;&nbsp;&nbsp;&nbsp;

            <b>
                <p>Secure Checkout</p>
            </b>&nbsp;&nbsp;
            <p>For assistance, call 16358</p>
        </div>

        <div class="offset-5 col-2">
            <a href=""><img src="https://k.nooncdn.com/s/app/com/noon/images/logos/noon-black-en.svg" alt="noon"></a>
        </div>
    </div>
</div>