 .product-content,
 .product-content .title,
 .product-content .ratting,
 .product-content .price,
 .product-content .details,
 .product-content .quantity,
 .product-content .action {
  position: relative;
  width: 100%;
}

 .product-content {
  padding: 30px;
}

@media (min-width: 768px) {
   .product-content {
      padding-left: 0;
  }
}

 .product-content .title h2 {
  font-size: 25px;
  margin-bottom: 5px;
}

 .product-content .ratting {
  margin-bottom: 10px;
}

 .product-content .ratting i {
  color: #FF6F61;
  font-size: 16px;
}

 .product-content .price,
 .product-content .quantity,
 .product-content .p-size,
 .product-content .p-color {
  margin-bottom: 15px;
}

 .product-content .price h4,
 .product-content .quantity h4,
 .product-content .p-size h4,
 .product-content .p-color h4 {
  display: inline-block;
  width: 80px;
  font-size: 18px;
  font-weight: 700;
  margin-right: 5px;
}

 .product-content .price p {
  display: inline-block;
  color: #FF6F61;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}

 .product-content .price span {
  color: #999999;
  text-decoration: line-through;
  margin-left: 12px;
}

 .product-content .quantity .qty {
  display: inline-block;
  font-size: 0;
}

 .product-content .quantity button {
  width: 30px;
  height: 30px;
  padding: 2px 0;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  background: #FF6F61;
  border: none;
}

 .product-content .quantity button.btn-minus {
  border-radius: 4px 0 0 4px;
}

 .product-content .quantity button.btn-plus {
  border-radius: 0 4px 4px 0;
}

 .product-content .quantity input {
  width: 40px;
  height: 30px;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  background: #000000;
  border: none;
}

  .action
  {
    a{

      &:first-child {
    margin-right: 11px;
    }
    }
}

 .product-content .action a i {
  margin-right: 5px;
}
