<section class="py-5">
  <h5>Fantasy T-shirt</h5>
  <p class="mb-2 text-muted text-uppercase small">Shirts</p>
  <i
    class="fa fa-star"
    aria-hidden="true"
    style="color: orange; float: right; font-size: large"
    ><b>4.0 </b><span style="color: lightgrey">(1)</span></i
  >

  <p>
    <span class="mr-1"><strong>$12.99</strong></span>
  </p>
  <p class="pt-1">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sapiente
    illo. Sit error voluptas repellat rerum quidem, soluta enim perferendis
    voluptates laboriosam. Distinctio, officia quis dolore quos sapiente tempore
    alias.
  </p>
  <div class="table-responsive">
    <table class="table table-sm table-borderless mb-0">
      <tbody>
        <tr>
          <th class="pl-0 w-25" scope="row"><strong>Model</strong></th>
          <td>Shirt 5407X</td>
        </tr>
        <tr>
          <th class="pl-0 w-25" scope="row"><strong>Color</strong></th>
          <td>Black</td>
        </tr>
        <tr>
          <th class="pl-0 w-25" scope="row"><strong>Delivery</strong></th>
          <td>USA, Europe</td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr />

  <div class="row align-items-end">
    <div class="col-3">
      <label for="quantity">quantity</label>
      <select id="quantity" class="form-control">
        <option value="0" selected>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
    </div>
    <div class="col-9">
      <input type="submit" class="btn btn-primary w-100" value="add To Cart" />
    </div>
  </div>

  <div class="pb-0">Select size</div>

  <div class="mt-1">
    <div class="form-check form-check-inline pl-0">
      <input
        type="radio"
        class="form-check-input"
        id="small"
        name="materialExampleRadios"
        checked
      />
      <label
        class="form-check-label small text-uppercase card-link-secondary"
        for="small"
        >Small</label
      >
    </div>
    <div class="form-check form-check-inline pl-0">
      <input
        type="radio"
        class="form-check-input"
        id="medium"
        name="materialExampleRadios"
      />
      <label
        class="form-check-label small text-uppercase card-link-secondary"
        for="medium"
        >Medium</label
      >
    </div>
    <div class="form-check form-check-inline pl-0">
      <input
        type="radio"
        class="form-check-input"
        id="large"
        name="materialExampleRadios"
      />
      <label
        class="form-check-label small text-uppercase card-link-secondary"
        for="large"
        >Large</label
      >
    </div>
  </div>
</section>
