
 <main class="container-fluid mainbady">
    <div class="row">
        <!-- side bar -->
        <div class="col-sm-3">
          <div class="row my-5">
            <label>brand</label>
            <input #brand  class="col-sm-7" type="text">
          
            <button class="btn col-sm-2" (click)="goBrand(brand)">go</button>
           </div>
           <!-- 1-brand -->
           <div class="row my-5">
           <input #input1  class="col-sm-4" type="number">
           <span class="col-sm-2" > to</span>
           <input #input2  class="col-sm-4" type="number">
           <button class="btn col-sm-2" (click)="goProduct(input1.value,input2.value)">go</button>
          </div>
           <!-- 2-price -->
           <div class="row my-5">
         <div class="col-sm-12">
           <span>{{rang.value}} Stars or More</span><br>
          <input width="100%" type="range" max="5" value="1" min="1" step=".3" #rang (change)="startFilter(rang.value)">


         </div>

           </div>
           <!-- 3-start  -->










           
           <!-- 5_types   -->
           <div class="row">
          <div class="col-12">
      
       



            <ul>
              <li *ngFor="let group of optionArray| keyvalue">
             <h5> {{group.key}}</h5>
            
                <ul *ngIf="group.key=='color'">
                  <li (click)="filterWithSpical(group.key,item)"    *ngFor="let item of group.value"
                  [style.background]="item" style="width: 50px; height: 50px;"
                  >
                  
                  
                  </li>
              </ul>
              <ul *ngIf="group.key!='color'">
                  <li (click)="filterWithSpical(group.key,item)"    *ngFor="let item of group.value">
                  {{item}}
                  
                  </li>
              </ul>
              </li>
          </ul>







<!-- end -->
</div>
           </div>  






             <!-- end side bar--> 
          </div>
            <!-- end side bar -->
            <div class="col-sm-9">
         <div class="row">
         <div class="col-sm-6">{{productSize}} Results for"Skin Care"</div>
          <div class="col-sm-3">
           
              <div class="dropdown">
              <button class="btn dropdown-toggle" data-toggle="dropdown">RECOMENDED</button>
              <ul class="dropdown-menu">
                <li ><a class="dropdown-item "  (click)="highToLow()" >high to low</a> </li>
                <li ><a class="dropdown-item "  (click)="lowToHigh()">low to high</a> </li>
              </ul>
            </div>
          </div>
    <!-- ///////////////////////// -->
    <div class="col-sm-3">
<!--            
        <div class="dropdown">
        <button class="btn dropdown-toggle" data-toggle="dropdown">per page</button>
        <ul class="dropdown-menu">
          <li ><a class="dropdown-item "  href="#" >5 per page</a> </li>
          <li ><a class="dropdown-item "  href="#">6 per page</a> </li>
        </ul>
      </div> -->
    </div>
         </div>
    <div class="row">
      <div class="col-sm-3" *ngFor="let item of products">
        <div class="card" >
            <img class="card-img-top" src="{{item.image[0]}}" alt="Card image" style="width:100%">
            <div class="card-body">
              <p style="font-size: 12px; color:gray;" class="card-title">
              {{item.brand}}<br>
              {{item.description}}
              </p>
              <h5>EGP {{item.price}}</h5>
              <span> {{item.rating}}</span><span>*</span> 
            </div>
          </div>
    </div>
    <!-- end card -->
    </div>
    <div class="row">
   
    <ul class="pagination mx-auto my-4" >
      <li class="page-item  " id="prev" ><a (click)="prevPageFun()" class="page-link" >Previous</a></li>
      <li class="page-item"><a (click)="goToNext(0)" class="page-link" >1</a></li>
      <li class="page-item" ><a (click)="goToNext(1)"  class="page-link" >2</a></li>
      <li class="page-item"><a (click)="goToNext(2)"  class="page-link" >3</a></li>
      <li class="page-item"><a (click)="goToNext(3)"  class="page-link" >4</a></li>
      <li class="page-item" id="next"><a  (click)="nextPageFun()"  class="page-link" >Next</a></li>
    </ul>

   
    </div>
            </div>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            </div>
            </main> 
            
    