<app-header></app-header>
<div class="product-detail">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9">
        <div class="product-detail-top p-4">
          <div class="row">
            <div class="col-md-6">
              <app-product-slider></app-product-slider>
            </div>
            <div class="col-md-6">
              <app-product-summary></app-product-summary>
            </div>
          </div>
        </div>
        <app-products-specification></app-products-specification>
        <app-related-product></app-related-product>
      </div>

    </div>
  </div>
</div>
