<div class="product-detail">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <div class="product-detail-top">
          <div class="row align-items-center">
            <div class="col-sm-4">
              <app-slider></app-slider>
            </div>
            <div class="col-sm-8">
              <app-product-summary></app-product-summary>
            </div>
          </div>
        </div>
        <app-products-specification></app-products-specification>
      </div>
    </div>
  </div>
</div>
