<div class="table-responsive">
  <table class="table table-sm table-borderless mb-0">
    <tbody>
      <ng-container [ngSwitch]="product.subcategory">
        <ng-container *ngSwitchCase="allSubcategories.menWear">
          <app-table-row [options] ="{Brand:product?.brand,Material:product?.material}" ></app-table-row>
        </ng-container>
        <ng-container *ngSwitchCase="allSubcategories.womenWear">
          <app-table-row [options] ="{Brand:product?.brand,Material:product?.material}" ></app-table-row>
        </ng-container>
        <ng-container *ngSwitchCase="allSubcategories.kidWear">
          <app-table-row [options] ="{Brand:product?.brand,Material:product?.material}" ></app-table-row>
        </ng-container>
        <ng-container *ngSwitchCase="allSubcategories.mobiles">
          <app-table-row [options] ="{Battery:product?.battery,'Screen_Size':product?.screenSize,Internal_Memory:product?.internalMemory}" ></app-table-row>
        </ng-container>
        <ng-container *ngSwitchCase="allSubcategories.tv">
          <app-table-row [options] ="{Screen_Size:product?.tvScreenSize,'No_Of_USB_Port':product?.noOfUsbPort}" ></app-table-row>
        </ng-container>
        <ng-container *ngSwitchCase="allSubcategories.labtops">
          <app-table-row [options] ="{Operating_System:product?.operatingSystem,'Memory_Size':product?.memorySize,Processor:product?.proccessor}" ></app-table-row>
        </ng-container>
        <ng-container *ngSwitchCase="allSubcategories.kitchen">
          <app-table-row [options] ="{Base_Material:product?.baseMaterial}" ></app-table-row>
        </ng-container>
        <ng-container *ngSwitchCase="allSubcategories.skinCare">
          <app-table-row [options] ="{Skin_Type:product?.skinType}" ></app-table-row>
        </ng-container>
        <ng-container *ngSwitchCase="allSubcategories.hairCare">
          <app-table-row [options] ="{Hair_Type:product?.hairType}" ></app-table-row>
        </ng-container>
        <ng-container *ngSwitchCase="allSubcategories.makeup">
          <app-table-row [options] ="{Foundation:product?.hairType,Color:product?.color}" ></app-table-row>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</div>
