<div class="table-responsive">
  <table class="table table-sm table-borderless mb-0">
    <tbody>
      <ng-container [ngSwitch]="product.subcategory">
        <ng-container *ngSwitchCase="allCategories.fashion">
          <tr>
            <th class="pl-0 w-25" scope="row"><strong>Brand</strong></th>
            <td>{{ product?.brand }}</td>
          </tr>
          <tr>
            <th class="pl-0 w-25" scope="row"><strong>Material</strong></th>
            <td>{{ product?.material }}</td>
          </tr>
        </ng-container>
        <ng-container *ngSwitchCase="allSubcategories.mobiles">
          <tr>
            <th class="pl-0 w-25" scope="row"><strong>Battery</strong></th>
            <td>{{ product?.battery }}</td>
          </tr>
          <tr>
            <th class="pl-0 w-25" scope="row"><strong>Internal Memory</strong></th>
            <td>{{ product?.internalMemory }}</td>
          </tr>
          <tr>
            <th class="pl-0 w-25" scope="row"><strong>Screen Size</strong></th>
            <td>{{ product?.screenSize }}</td>
          </tr>
        </ng-container>
        <ng-container *ngSwitchCase="allSubcategories.tv">
          <tr>
            <th class="pl-0 w-25" scope="row"><strong>tv</strong></th>
            <td>{{ product?.brand }}</td>
          </tr>
          <tr>
            <th class="pl-0 w-25" scope="row"><strong>Material</strong></th>
            <td>{{ product?.material }}</td>
          </tr>
        </ng-container>
        <ng-container *ngSwitchCase="allSubcategories.labtops">
          <tr>
            <th class="pl-0 w-25" scope="row"><strong>labtop</strong></th>
            <td>{{ product?.brand }}</td>
          </tr>
          <tr>
            <th class="pl-0 w-25" scope="row"><strong>Material</strong></th>
            <td>{{ product?.material }}</td>
          </tr>
        </ng-container>

      </ng-container>
    </tbody>
  </table>
</div>
