<section class="py-5">
  <h5>{{ detailsProduct.name }}</h5>
  <p class="mb-2 text-muted text-uppercase small">
    {{ detailsProduct.subcategory }}
  </p>
<app-rating [value]="detailsProduct.rating" color="rgb(254, 238, 0)" ></app-rating>
    <a style="color: lightgrey" class="ml-4" href="#reviews">{{
      detailsProduct.numReviews}}
    </a>


  <p>
    <span class="mr-1 text-muted">Was:</span>
    <span class="mr-1 was"
      ><strong> {{ detailsProduct.price | currency }}</strong></span
    >
  </p>
  <p>
    <span class="mr-1 text-muted">NOW:</span>
    <span class="mr-1 now"
      ><strong>
        {{
          detailsProduct.price -
            (detailsProduct.price * detailsProduct.discount) / 100 | currency
        }}</strong
      ></span
    >
  </p>
  <p>
    <span class="mr-1 text-muted">Saving:</span>
    <span class="mr-1 now">
      <strong>
        {{ (detailsProduct.price * detailsProduct.discount) / 100 | currency }}
      </strong>
    </span>
    <span class="badge badge-pill badge-success ml-3 p-2">
      {{ detailsProduct.discount + " %" }}</span
    >
  </p>
  <p class="pt-1">
    {{ detailsProduct.description }}
  </p>
  <app-properties-table [product]= 'detailsProduct'></app-properties-table>

  <hr />
<app-cart-form [countInStock]= 'detailsProduct.countInStock' [currentProduct]="product"></app-cart-form>

</section>
