<section class="py-5">
  <h5>{{ detailsProduct.name }}</h5>
  <p class="mb-2 text-muted text-uppercase small">
    {{ detailsProduct.subcategory }}
  </p>
  <i
    class="fa fa-star"
    aria-hidden="true"
    style="color: orange; float: right; font-size: large"
    ><b>{{ detailsProduct.rating }} </b
    ><span style="color: lightgrey">{{
      detailsProduct.numReviews + 10
    }}</span></i
  >

  <p>
    <span class="mr-1 text-muted">Was:</span>
    <span class="mr-1 was"
      ><strong> {{ detailsProduct.price | currency }}</strong></span
    >
  </p>
  <p>
    <span class="mr-1 text-muted">NOW:</span>
    <span class="mr-1 now"
      ><strong>
        {{
          detailsProduct.price -
            (detailsProduct.price * detailsProduct.discount) / 100 | currency
        }}</strong
      ></span
    >
  </p>
  <p>
    <span class="mr-1 text-muted">Saving:</span>
    <span class="mr-1 now">
      <strong>
        {{
          (detailsProduct.price * detailsProduct.discount) / 100 | currency
        }}
      </strong >
    </span >
      <span class="badge badge-pill badge-success ml-3 p-2">
        {{ detailsProduct.discount + " %" }}</span
      >
  </p>
  <p class="pt-1">
    {{ detailsProduct.description }}
  </p>
  <div class="table-responsive">
    <table class="table table-sm table-borderless mb-0">
      <tbody>
        <tr>
          <th class="pl-0 w-25" scope="row"><strong>Brand</strong></th>
          <td>{{ detailsProduct?.brand }}</td>
        </tr>
        <tr>
          <th class="pl-0 w-25" scope="row"><strong>Material</strong></th>
          <td>{{ detailsProduct?.material }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr />

  <div class="row align-items-end">
    <div class="col-3">
      <label for="quantity">quantity</label>
      <select id="quantity" class="form-control">
        <ng-container  *ngFor="let count of inStockArr">
          <option [ngValue]="count">{{count}}</option>
        </ng-container>


      </select>
    </div>
    <div class="col-9">
      <input type="submit" class="btn btn-primary w-100" value="add To Cart" />
    </div>
  </div>

  <div class="pb-0">Select size</div>

  <div class="mt-1">
    <div class="form-check form-check-inline pl-0">
      <input
        type="radio"
        class="form-check-input"
        id="small"
        name="materialExampleRadios"
        checked
      />
      <label
        class="form-check-label small text-uppercase card-link-secondary"
        for="small"
        >Small</label
      >
    </div>
    <div class="form-check form-check-inline pl-0">
      <input
        type="radio"
        class="form-check-input"
        id="medium"
        name="materialExampleRadios"
      />
      <label
        class="form-check-label small text-uppercase card-link-secondary"
        for="medium"
        >Medium</label
      >
    </div>
    <div class="form-check form-check-inline pl-0">
      <input
        type="radio"
        class="form-check-input"
        id="large"
        name="materialExampleRadios"
      />
      <label
        class="form-check-label small text-uppercase card-link-secondary"
        for="large"
        >Large</label
      >
    </div>
  </div>
</section>
