/* You can add global styles to this file, and also import other style files */

.slick-prev, .slick-next{
  width: 30px;
  height: 30px;
  z-index: 10000 !important;}
.slick-prev{

  left: -15px;
;
}
.slick-next{
  right: -15px;
}
.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 23px;
  line-height: 1;
  color: rgb(77, 75, 75);
}
