<div class="container-fluid">
  <header>
    <div class="row head">
      <div class="col-lg-1 col-md-2 col-sm-2 col-4">
        <a href="#">
          <img src="https://k.nooncdn.com/s/app/com/noon/images/logos/noon-black-en.svg" alt="noon"
            style="width: 100%; height: 100%;">
        </a>
      </div>
      <div class="col-lg-8 col-md-7 col-sm-4 col-8">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="what are you looking for?">
        </div>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-2 col-4">
        <span class="dropdown">
          <a href="#" class="dropdown-toggle" role="button">Ship to<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li> <a href="#">UAE</a> </li>
            <li> <a href="#">KSA</a> </li>
            <li> <a href="#">EGYPT</a> </li>
          </ul>
        </span>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-2 col-4">
        <a routerLink="/signin" routerLinkActive="router-link-active">Sign In</a>&nbsp;&nbsp;<i class="fa fa-user-o"
          aria-hidden="true"></i>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-2 col-4">
        <a href="#">Cart</a>&nbsp;&nbsp;<i class="fa fa-shopping-cart" aria-hidden="true"></i>
      </div>
    </div>
  </header>
</div>

<div class="container-fluid">
  <div class="row secondNav" style="padding: 1% 2%">
    <div class="col-lg-2 col-md-2  dropdown">
      <button class="btn  dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" >
        All category<span class="caret"></span>
      </button>
      <div class="dropdown-menu" style="width: 400px;"  (mouseleave)="leaveList()">
      <div class="row" style="width: 100%;">
        
          
        <ul class="col-sm-5 " style="list-style: none;" >
          <li *ngFor="let cate of allcategory"  >
            <a  class="dropdown-item" (click)="goToThisCategory(cate.name)"  
              
            (mouseover)="getSubcategory(cate.cateid)">{{cate.name}}</a> </li>
          </ul>
        
      <div class="col-sm-5 "  *ngIf="isHover"  >
        <p (click)="goToFillter(item.name)" class="dropdown-item" *ngFor="let item of allSubctegory">{{item.name}}</p>
           
      </div>
      </div>
      




        <!-- end dropdown -->
        </div>
    </div>
    <!-- <div class="col-lg-1 col-md-4 col-sm-4 ">
      <a href="#"><b>Electronics</b></a>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-2">
      <a href="#"><b>Mobiles</b></a>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-2">
      <a href="#"><b>Fachion</b></a>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-2">
      <a href="#"><b>Home</b></a>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-2">
      <a href="#"><b>Beauty</b></a>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-2">
      <a href="#"><b>Baby</b></a>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-2">
      <a href="#"><b class="text-danger">Deals</b></a>
    </div> -->
    <ng-container *ngFor="let ele of productSubcategory">
      <div class="col-lg-1 col-md-2 col-2">
        <a href="#"><b>{{ele}}</b></a>
      </div>
    </ng-container>

  </div>
</div>