<div class="container-fluid">
  <header>
    <div class="row head">
      <div class="col-1">
        <a href="#">
          <img src="https://k.nooncdn.com/s/app/com/noon/images/logos/noon-black-en.svg" alt="noon">
        </a>
      </div>
      <div class="col-7">
        <div class="form-group has-search">
          <input type="text" class="form-control" placeholder="what are you looking for?">
        </div>
      </div>
      <div class="col-1">
        <a href="#">العربيه</a>
      </div>
      <div class="col-1">
        <span class="dropdown">
          <a href="#" class="dropdown-toggle" role="button">Ship to<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li> <a href="#">UAE</a> </li>
            <li> <a href="#">KSA</a> </li>
            <li> <a href="#">EGYPT</a> </li>
          </ul>
        </span>
      </div>
      <div class="col-1">
        <a href="#">Sign In</a>&nbsp;&nbsp;<i class="fa fa-user-o" aria-hidden="true"></i>
      </div>
      <div class="col-1">
        <a href="#">Cart</a>&nbsp;&nbsp;<i class="fa fa-shopping-cart" aria-hidden="true"></i>
      </div>
    </div>
  </header>
</div>

<div class="container-fluid">
  <div class="row secondNav" style="padding: 1% 2%">
    <div class="col-2">
      <a href="#" role="button">All category<span class="caret"></span></a>
    </div>
    <div class="col-1 ">
      <a href="#"><b>Electronics</b></a>
    </div>
    <div class="col-1">
      <a href="#"><b>Electronics</b></a>
    </div>
    <div class="col-1">
      <a href="#"><b>Electronics</b></a>
    </div>
    <div class="col-1">
      <a href="#"><b>Electronics</b></a>
    </div>
    <div class="col-1">
      <a href="#"><b>Electronics</b></a>
    </div>
    <div class="col-1">
      <a href="#"><b>Electronics</b></a>
    </div>
    <div class="col-1">
      <a href="#"><b class="text-danger">Deals</b></a>
    </div>
  </div>
</div>
